snippet hh "Markdown heading" !b
	${1:Heading}
	`!p
	snip.rv = '='*(len(t[1]))
	`
	$0

snippet sh "Markdown sub-heading" !b
	${1:Sub Heading}
	`!p
	snip.rv = '-'*(len(t[1]))
	`
	$0

snippet link "Link to something"
	[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0

snippet img "Image"
	![${1:pic alt}](${2:path}${3/.+/ "/}${3:opt title}${3/.+/"/})$0
