extends ruby

snippet it "rspec it '...'" !b
	it '$1' do
	  $0
	end

snippet cont "rspec context '...'" !b
	context '$1' do
	  $0
	end

snippet desc "rspec describe '...'" !b
	describe '$1' do
	  $0
	end

snippet exp "rspec expect(). " !b
	expect($1).$2
