extends javascript

snippet kv "key/value" !b
$1: $2
endsnippet

# not really needed for coffescript, its a no brainer.
clearsnippets if If

snippet ti "Ti.API.debug statement" 
Ti.API.debug("${1}")$0
endsnippet

snippet lge "console.log variable" !b
console.log("$1 = #{$1}");$0
endsnippet

snippet lgev "console.log variable (stringify)" !b
console.log("$1 = #{JSON.stringify($1)}");$0
endsnippet
