extends xml
extends javascript

snippet dif "Django if block"
{% if $1 %}
	${VISUAL}
{% endif %}
endsnippet

snippet dfor "Django for block"
{% for $1 in ${2:$1s} %}
	${VISUAL}
{% endfor %}
endsnippet

snippet durl "Django url block" !w
{% url "$1" %}$0
endsnippet

snippet del "Django else tag"
{% el${2:se }%}$1
endsnippet

snippet block "django block" !b
{% block $1 %}$0{% endblock $1 %}
endsnippet
