snippet kv "JSON key/value" !b
"$1": $2$0
endsnippet

snippet lg "console.log" !b
console.log("$1");$0
endsnippet

snippet lge "console.log variable" !b
console.log("$1 = "+ $1);$0
endsnippet

snippet lgev "console.log variable(stringify)" !b
console.log("$1 = "+ JSON.stringify($1));$0
endsnippet

snippet str "Stringify" !w
JSON.stringify($1)$0
endsnippet

snippet fun "Description" !w
function() {
  $0
}
endsnippet
