clearsnippets
extends xml
extends javascript

priority 1

snippet lge "Log variable" !b
<br/><b>$1</b>: "{{ $1 }}"$2
endsnippet

snippet # "# block" !b
{# $1 #}$0
endsnippet

snippet % "% block" !b
{% $1 %}$0
endsnippet

snippet if "if block"
{% if $1 %}
	${VISUAL}
{% endif %}
endsnippet

snippet for "for block"
{% for $1 in ${2:$1s} %}
	${VISUAL}
{% endfor %}
endsnippet

snippet brk "php breakpoint" !b
	{{ devel_breakpoint() }}
endsnippet
